/* your styles go here */

.box-image-text .image {
    min-height: 200px;
    max-height: 200px;
}

.box-simple {
    min-height: 230px;
}

#blog-post #post-content {
    font-size: 16px;
    line-height: 1.8;
}

#content p {
    font-size: 16px;
    line-height: 1.8;
}

#post-content p img {
    max-width: 100%;
    height: auto;
}
